.background {
    height: 60vw;
    width: 100%;
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    filter:contrast(90%)  ;
}

.about-me-title {
    position: fixed;
    color: white;
    text-align: center;
    left: 0;
    right: 0;
    font-family: var(--title-font);
    color: var(--light-color);
    font-size: 56px;
    top: 40%;
    opacity: 0;
    animation: silhouette-move-in 1000ms 800ms forwards;
}

  
@keyframes silhouette-move-in {
    from {
      background-position-x: 0;
    
    }
    to {
      opacity: 1;
      background-position-x: 50%;
     
      
    }
  }
  

.presentation {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    text-align: center;
    top: 100vh;
    display: flex;
}

.presentation-title {
    font-family: var(--secondary-font);
    font-size: 36px;
    color: white;
}

.dev-working {
    width: 500px;
    height: 500px;
    padding: 100px;
    border-radius: 20%;
}

.textcontainer {
    padding: 100px;
}

.presentation-description {
    color: white;
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.skills-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    text-align: center;
    top: 200%;
    display: flex;
    flex-direction: column;
}

.skills-object {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.skills-title {
    color: white;
    text-align: center;
    width: 100%;
    height: 10px;
    font-family: var(--secondary-font);
    color: var(--light-color);
    font-size: 40px;
}

.react-img {
    width: 300px;
    height: 300px;
}

.react-card {
    padding: 100px;
}

.title-none {
    display: none;
    transition: all 1s ease-in-out;
}

.react-text {
    color: var(--light-color);
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.down-arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 92%;
    transition: all 0.5s ease-in-out;
    animation-name: arrowdownanim;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    z-index: 1000;
}

.no-down-arrow {
    display: none;
}

.down-arrow-color{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 92%;
    transition: all 0.5s ease-in-out;
    animation-name: arrowdownanim;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    z-index: 1000;
}
.down-arrow:hover {
    transform: scale(1.4);
}
.down-arrow-color:hover {
    transform: scale(1.4);
}

.up-arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 92%;
    transition: all 0.5s ease-in-out;
    animation-name: arrowdownanim;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    z-index: 1000;
    transform: rotate(180deg);
}

@keyframes arrowdownanim {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -8px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@media screen and (max-width: 930px) {
    .background{
        height: 100%;
        width: auto;
        position: fixed;
        z-index: -2;
        left: 0;
        top: 0;
        filter: contrast(90%);
    }

    .presentation-description {
        font-size: 16px;
    }
    .textcontainer {
        padding: 15px;
    }
    .about-me-title {
        font-size: 56px;
        top: 20%;
    }
    .dev-working {
        width: 300px;
        height: 300px;
        padding: 100px;
        border-radius: 150px;
    }
    .presentation {
        width: 100%;
        text-align: center;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-container {
        top: 150%;
        display: flex;
        flex-direction: column;
    }
    .skills-object {
        flex-direction: column;
        align-items: center;
    }
    .dev-working {
        width: 300px;
        height: 300px;
        padding: 30px;
        border-radius: 20%;
    }
    
}