.background {
    height: 60vw;
    width: 100%;
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    overflow: hidden;
}

.about-me-title {
    position: absolute;
    color: white;
    text-align: center;
    left: 0;
    right: 0;
    font-family: var(--title-font);
    color: var(--light-color);
    font-size: 56px;
    top: 40%;
    opacity: 0;
    animation: silhouette-move-in 1000ms 800ms forwards;
}

.button-discover {
    position: absolute;
    top: 70vh;
    left: 45vw;
    width: 150px;
    padding: 5px;
    transform:scale(1.6);
    text-align: center;
    color: black;
    background-color: white;
    font-family: var(--title-font);
    text-decoration: none;
    opacity: 0;
    animation: silhouette-move-in 1000ms 800ms forwards;
}
.button-discover:focus,
.button-discover:hover {
    cursor: pointer;
    color: white;
    background:none;
    border: 2px solid white;

}

.carousel.carousel-slider .control-arrow {
    padding:50px;
}
  
@keyframes silhouette-move-in {
    from {
      background-position-x: 0;
    
    }
    to {
      opacity: 1;
      background-position-x: 50%;
     
      
    }
  }

  .youtube-japan {
      padding-left: 20vw;
      padding-right: 20vw;
  }
  

.presentation {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    text-align: center;
    top: -14vh;
    display: flex;
}

.presentation-title {
    font-family: var(--secondary-font);
    font-size: 36px;
    color: white;
}

.dev-working {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 20%;
}

.textcontainer {
    margin-top: 50px ;
    padding: 100px;
}

.presentation-description {
    color: white;
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.skills-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    text-align: center;
    top: 15%;
    display: flex;
    flex-direction: column;
}

.passion-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    text-align: center;
    top: 15%;
    display: flex;
    flex-direction: column;
}

.passion-title {
    color: white;
    text-align: center;
    width: 100%;
    height: 10px;
    font-family: var(--secondary-font);
    color: var(--light-color);
    font-size: 40px;
}

.spotify-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw ;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.skills-object {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.skills-title {
    color: white;
    text-align: center;
    width: 100%;
    height: 10px;
    font-family: var(--secondary-font);
    color: var(--light-color);
    font-size: 40px;
}

.react-img {
    width: 300px;
    height: 300px;
}

.react-card {
    padding: 100px;
}

.title-none {
    display: none;
    transition: all 1s ease-in-out;
}

.react-text {
    color: var(--light-color);
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 700;
}



@media screen and (max-width: 930px) {
    .background{
        height: 100%;
        width: auto;
        position: fixed;
        z-index: -2;
        left: 0;
        top: 0;
        
    }

    .button-discover {
        position: absolute;
        top: 60vh;
        left: 30vw;
        width: 150px;
        padding: 5px;
        transform:scale(1.4);
        text-align: center;
        color: black;
        background-color: white;
     
    }

    .presentation-description {
        font-size: 16px;
    }
    .textcontainer {
        padding: 15px;
    }
    .about-me-title {
        font-size: 56px;
        top: 20%;
    }
    .presentation {
        width: 100%;
        text-align: center;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-container {
        top: 10vh;
        display: flex;
        flex-direction: column;
    }
    .skills-object {
        flex-direction: column;
        align-items: center;
    }
    .dev-working {
        width: 300px;
        height: 300px;
        padding: 30px;
        border-radius: 20%;
    }

    .react-card {
        padding: 50px;
    }
    .react-text {
        font-size: 18px;
    }
    .react-img {
        width: 100px;
        height: 100px;
    }
    .dev-working {
        opacity: 0;
    }
        
}
@media screen and (max-width: 700px) {
    .background{
        height: 100%;
        width:auto;
    }

    .presentation {
        top: -1vh;
    }
    .react-img {
        width: 50px;
        height: 80px;
    }
    .react-card {
        padding: 15px;
    }
    .youtube-japan {
        opacity: 0;
    }
    .skills-title {
        margin-bottom: 0;
        font-size: 34px;
    }
    
}
