.dev-picture {
    width: 700px;
    height: 500px;
    padding: 100px;
    border-radius: 20%;
}

.react-card{
    flex-wrap: wrap;
}

@media screen and (max-width: 930px) {
    .video-about{
        height: 100%;
        width: auto;
    }

}