body {
    margin: 0;
}


.background {
    width: 100%;
    position: absolute;
    z-index: -2;
    top: -143px;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-title {
    font-family: var(--title-font);
    color: var(--light-color);
    font-size: 56px;
}

.seo-title {
    opacity: 0;
}

.hello, .my-portfolio {
    color: var(--light-color);
    font-size: 50px;
    font-family: var(--secondary-font);
}
 .avatar {
    transform: scale(0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("/src/little-pic/hi.png") bottom left no-repeat;
    width: 50%;
    height: 50%;
    opacity: 0;
    animation: avatar-move 1s 1s forwards;
    animation-duration: 4s;
  }

  .hello {
    position: relative;
    bottom: 0;
    left: 0;
    width: 50%;
    opacity: 0;
    animation: silhouette-move-in 1000ms 800ms forwards;
  }
  .text-container {
      border: 2px solid white;
      padding: 20px;
      border-radius: 50px;
      opacity: 0;
      animation: silhouette-move-in 1000ms 800ms forwards;
  }
  
  @keyframes silhouette-move-in {
    from {
      background-position-x: 0;
    
    }
    to {
      opacity: 1;
      background-position-x: 50%;
     
      
    }
  }
  
  @keyframes avatar-move {
    0% {
      background-position-x: 0;
    
    }
    50% {
      opacity: 1;
      background-position-x: 50%;
    }
    100% {
        background-position-x: 0;
        opacity: 0;
    }
  }
 

  

.title-span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.925);
	animation: span 3s ease-in infinite alternate;
}

.title-span-resp {
    display: none;
}

.code{
	display: flex;
	justify-content: center;
	align-items: flex-start;
    align-items: baseline;
    
  
  	
	@media(max-width: 600px){ transform: scale(.65); }
}
.letter{
	display: inline-flex;
	height: 24px;
	width: 27px;
    color: white;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid rgb(255, 255, 255);
	border-radius: 14px;
	box-shadow:
		0 0 2px rgb(255, 255, 255),
		inset 0 0 2px rgba(255, 255, 255, 0.993);

	animation: letter 4s ease-in-out infinite alternate;

    
}
@keyframes span {
	0%,30%{ margin: 0 2px; }
	70%,100%{ margin: 0 2px; }
}
@keyframes letter {
	0%,30%{ width: 20px; }
	70%,100%{ width: 15vw; }
}

.buttons {
    display: flex;
    padding: 90px;
    width: 25%;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    left: 0;
    opacity: 0;
    animation: silhouette-move-in 1000ms 800ms forwards;
}
.button1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 800;
    border: 2px solid white;
    font-size: large;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}
.button1:hover {
    transform: translateY(-2px);
    border: 2px solid rgba(37, 35, 35, 0.808);
    
}
.button2 {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(37, 35, 35, 0.808);
    color: white;
    border-radius: 15px;
    font-weight: 800;
    font-size: large;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 10px 100px -20px  rgba(37, 35, 35, 0.808);
}
.button2:hover {
    transform: translateY(-2px);
    background-color:transparent;
    border: 2.2px solid black;
}
  @media screen and (max-width: 930px) {
    .background{
        height: 100%;
        width: auto;
        position: fixed;
        z-index: -2;
        left: 0;
        top: 0;
        filter: contrast(90%);
    }
    .avatar {
        display: none;
    }
    .letter {
        display: none;
    }

    .title-span-resp{
        display: flex;
        margin: 0 15px;
        line-height: .7;
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.925);
        animation: span 3s ease-in infinite alternate;
    }

    .text-container {
        transform: scale(1.5);
    }
    .hello, .my-portfolio {
        font-size: 30px;
    }
    .links {
        transform: scale(0.8);
    }

    .home-title {
        font-size: 40px;
    }
    
}

@media screen and (max-width: 500px) {
    .background{
        height: 100%;
        left: auto;
        top: auto;
        width: auto;
    }

    .hello, .my-portfolio {
        font-size: 20px;
    }

    .text-container {
        transform: scale(1.5);
    }

    .home-title {
        font-size: 30px;
    }
    .title-span-resp, .title-span, .letter {
        text-shadow: none;
    }
    
}

@media screen and (max-width: 375px) {
    .buttons {
        top: 10%;
    }
    .text-container {
        margin-top: 16%;
    }
}
  