.navbar-container {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    /* display: flex; */
    justify-content: space-between;
    background-color:white;
    top: 0;
    z-index: 10;
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    padding: 16px;
    z-index: 100;
}

.navbar-responsive {
    display: none;
}

.navbar {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 10;
}

.navbar-links-container {
    display: flex;
}

.navbar-title, .home, .about, .projects, .contact {
    color: white;
}

.navbar-title:hover, .home:hover, .about:hover, .projects:hover, .contact:hover {
    color: white;
    transition: ease-in-out all;
}

.links {
    text-decoration: none;
}

.home, .about, .projects, .contact, .admin {
    padding: 16px;
    font-family: var(--secondary-font);
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
.admin {
    opacity: 0;
    width: 70px;
    height: 70px;
    align-items: center;
    border-radius: 50px;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 1000;
}


.home:hover, .about:hover, .projects:hover, .contact:hover, .admin:hover {
    transform: scale(1.4);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.navbar-title {
    padding: 8px;
    font-family: var(--secondary-font);
    position: relative;
    opacity: 0;
    animation: silhouette-move-in 1000ms 800ms forwards;
}

.social-networks:hover {
    transform: scale(1.4);
    transition: all 0.5s ease-in-out;
}


    .navbar-container {
        display: none;
    }

    .navbar-responsive {
        display: flex;
        justify-content: space-between;
        width: 95%;
    }

    .title-navbar {
        color: white;
        font-family: var(--title-font);
        
    }

    .NavbarMenu-Burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor:pointer;
        position: relative;
    }

    .NavbarMenu-Burger span {
        display: flex;
        background-color: white;
        height: 3px;
        width: 30px;
        margin-bottom: 6px;
        z-index: 20;
    }


    .social-networks-container {
        padding: 30px;
        display: flex;
        justify-content: space-around;
        width: 95%;   
    }
    
    .social-networks {
        height: auto;
        width: 50px;
        padding: 50px;
    }
    .menu-close {
       display:none
    }
    .menu-open {
        display: flex;
        position: fixed;
        align-items: center;
        top: 13vh;
        right: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    .animation-on {
        transition: all 0.5s ease-in-out;
        animation-name: transitionOpen;
        animation-duration: 1.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
    .animation-off {
        transition: all 0.5s ease-in-out;
        animation-name: transitionClose;
        animation-duration: 1.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }

    @keyframes transitionOpen {
        0% {
            transform: translate(300%, 0);
        }
        50% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }

    @keyframes transitionClose {
        0% {
            transform: translate(0%, 0%);
        }
        50% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(300%, 0%);
        }
    }


    @keyframes transitionResp {
        0% {
            opacity: 0;;
        }
        100% {
            opacity: 1;
        }
    }

    .cross-2 {
        transform: rotate(315deg) translate(-8px, -8px);
        transition: all 0.5s ease-in-out;
        height: 0px;
        padding: 1.5px;
    }
    .cross-1 {
        transform: rotate(45deg) translate(0px, 17px);
        transition: all 0.5s ease-in-out;
        padding: 1.5px;
    }
    .cross-3 {
        transform: rotate(-45deg) translate(0px, -14px);
        transition: all 0.5s ease-in-out;
    }
    .cross-4 {
        transform: translate(0px, 0px);
        transition: all 0.5s ease-in-out;
    }
    .cross-6 {
        transform: translate(0px, 0px);
        transition: all 0.5s ease-in-out;
    }



@media screen and (max-width: 500px) {
    
    .menu-open {
        display: flex;
        position: fixed;
        align-items: center;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        animation-name: transitionResp;
        animation-duration: 0.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
    .social-networks {
        padding: 15px;
        width: 45px;
        height: auto;
    }
    .social-networks-container {
        padding: 0;
        margin: 5px;
    }
}

@media screen and (max-width: 350px) {
    .menu-open {
        display: flex;
        position: fixed;
        align-items: center;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        animation-name: transitionResp;
        animation-duration: 0.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
    .social-networks-container {
        padding: 0;
        
    }
    .social-networks {
        padding: 8px;
        width: 40px;
        height: auto;
    }
}