.lang-container {
    position: absolute;
    top: 3.5%;
    left: 96vw;
    z-index: 11;
}

.lang-selector {
    height: 1.5rem;
}

.flag {
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .lang-container {
    top: 95%;
    left: 82.5vw;
    }
}